(
    texture_width: 1041,
    texture_height: 651,
    sprites: [
        (
            x: 1,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 1,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 66,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 131,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 196,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 261,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 326,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 391,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 456,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 521,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 586,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 651,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 716,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 781,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 846,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 911,
            y: 586,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 1,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 66,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 131,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 196,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 261,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 326,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 391,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 456,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 521,
            width: 64,
            height: 64,
        ),
        (
            x: 976,
            y: 586,
            width: 64,
            height: 64,
        ),
    ]
)
